@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');

$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$background-color: #1C2E29;
$primary-color: #ffffff;
$secondary-color: #72D700;
$tertiary-color: #618E74;
$quaternary-color: #C9C9C9;